.committe-page-main-container{
    background-color: rgba(228,240,243,0.5);
}

.committe-page-main-container .committe-page-hero-container{
    width: 100%;
    /* height: 100vh; */
    background-image: url("../assets/images/v748-toon-103.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10rem;
}

.committe-page-main-container .committe-page-hero-container .committe-page-heading-container{
    width: 100%;
    height: 85%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.committe-page-main-container .committe-page-heading-container .patrons-container .patron-cards-container .main-patron-card{
    flex:1 1 20rem;
    margin: 0 8rem;
    padding: 1.8rem;
    /* border: 0.5rem solid orange; */
}

.committe-page-main-container .patrons-container .patron-cards-container .main-patron-card .main-patron-image{
    width: 28rem;
    border-radius: 30rem;
    height: 30rem;
}

.committe-page-main-container .patrons-container .patron-cards-container .main-patron-card .main-patron-name{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(43, 79, 105);
    margin: 2rem 0;
}

.committe-page-main-container .patrons-container .patron-cards-container .main-patron-card .main-patron-designation{
    font-size: 2.5rem;
    color: orange;
    font-weight: 600;
}

.committe-page-main-container .patrons-container .patron-cards-container .main-patron-card .main-patron-institute{
    font-size: 1.9rem;
    font-weight: 500;
}

.committe-page-main-container .committe-page-hero-container .committe-page-heading-container{
    font-size: 6rem;
    /* margin: 5rem 0; */
    font-weight: 700;
}

.committe-page-main-container .patrons-container{
    text-align: center;
}

.committe-page-main-container .patrons-container .main-heading{
    padding-top: 17.5rem;
    color: #F8669E;
    font-weight: 800;
    font-size:5rem;
}

.committe-page-main-container .patrons-container .patrons-heading{
    margin: 10rem 0;
    color: #F8669E;
    font-weight: 800;
    font-size:5rem;
}

.committe-page-main-container .patrons-container .patron-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.committe-page-main-container .patrons-container .patron-cards-container .patron-card{
    flex:0 1 44rem;
    margin: 4rem;
}

.committe-page-main-container .patrons-container .patron-cards-container .patron-card .patron-name{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(43, 79, 105);
    margin: 2rem 0;
}

.committe-page-main-container .patrons-container .patron-cards-container .patron-card .patron-designation{
    font-size: 2.5rem;
    color: orange;
    font-weight: 600;
}

.committe-page-main-container .patrons-container .patron-cards-container .patron-card .patron-institute{
    font-size: 2rem;
    font-weight: 500;
}

.committe-page-main-container .committe-container .committe-details{
    font-size: 2rem;
    font-weight: 500;
    margin: 1.5rem;
}
.hard-dline
{
     color: white;
     padding: 4px;
     margin-left: 10px;
     border: 1px solid #ff6666;
     border-radius: 6%;
     width:100px;
     animation: fadeIn 2s;
     animation-iteration-count: infinite;
     background: #fd5454;
}
@keyframes fadeIn {
    0% {opacity: 2;animation-delay: 4s;}
    100% {opacity: 1;color: #ff6666;background: white;}
 } 

.left-alignment-style {
    display: flex;
    justify-content: center;
}

.inside-left-alignment {
    text-align: left;
}