
.imp-details-confenrence-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(228, 240, 243, 0.75);
    margin: 1rem auto;
    margin-top: none;
    /* padding: 4rem 0; */
    padding-bottom: 3.5rem;
    box-shadow: 2px 10px 8px 2px rgba(117, 117, 117, 0.15);
}

.imp-para-container {
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.imp-confrence-para-1 p{
    font-size: 1.75rem;
    line-height: 1.9;
    letter-spacing: 0.08rem;
    padding: 2rem;
    background-color: #fff;
    color: #000F23;
    font-weight: 500;
    border-radius: 0.65rem;
    box-shadow: 2px 5px 8px -3px rgba(0, 0, 0, 0.21);
    margin: 0.5rem 0;

}

.level-1-list{
    padding: 0 4rem;
}

.level-2-list{
    padding: 0 6rem;
}

.download-btn {
    font-size: 2rem;
    outline: none;
    padding: 1rem;
    margin: 0 2rem;
    border-radius: 0.5rem;
    background-color: #EE0034;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition-property: background-color color border;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 350ms;
}
.download-btn:hover {
    background-color: white;
    color: #EE0034;
    border: #EE0034 1.5px solid;
  }
  .no-show
  {
    display: none;
  }